<div class="container p-5 text-center">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Operación Exitosa</h5>
    </div>
    <div class="card-body">
      <p>{{descripcion}}</p>
    </div>
    <div class="card-footer text-center p-3">
      <a class="btnWA" href="/">Inicio</a>
    </div>
  </div>
</div>